<!DOCTYPE html>
<html>
    <head>
        <title>Gobo Test</title>
        <script src='/lib/test.js'></script>
        <script>var assert = chai.assert</script>
        <style>
            body.success:before {
                background: #e6efc2;
                color: #264409;
                content: "Test Passed";
            }

            .failure {
                background: #fbe3e4;
                color: #8a1f11;
            }

            body.success:before,
            .failure {
                display: block;
                padding: 0.8em;
                margin-bottom: 0.8em;
            }
        </style>
    </head>
    <body>
        {{{html}}}
        <script>
            (function (logic) {

                // Reports a result back up te chain
                function report ( result, message ) {
                    parent.postMessage( JSON.stringify({
                        result: result,
                        id: document.location.search.substr(1),
                        message: message
                    }), "*" );

                    if ( result ) {
                        document.body.className += " success";
                    }
                    else {
                        var report = document.createElement("div");
                        report.className = "failure";
                        report.textContent = message;
                        document.body.insertBefore(
                            report, document.body.firstChild);
                    }
                }

                // Logic for reporting the result of the test
                var complete;
                function done ( result, message ) {
                    if ( !complete ) {
                        complete = { result: result, message: message };

                        // Delaying the report allows errors to be caught that
                        // happen after 'done' is invoked
                        setTimeout(function () {
                            report( complete.result, complete.message );
                        }, 0);
                    }
                    else if ( !result ) {
                        complete = { result: result, message: message };
                    }
                    else {
                        complete = {
                            result: false,
                            message: "'done' called multiple times"
                        };
                    }
                }

                // If an error is thrown, report a failure
                window.onerror = done.bind(null, false);

                // Time the test
                setTimeout(done.bind(null, false, "Timeout"), 1000);

                // Run the test
                logic(
                    done.bind(null, true, "Passed"),
                    new Test.DocReader(document)
                );
            }(
                {{{logic}}}
            ));
        </script>
    </body>
</html>

