<!DOCTYPE html>
<html>
    <head>
        <title>Gobo Test</title>
        <script src='/lib/chai.js'></script>
        <script src='/lib/test-framework.js'></script>
        <script src='/lib/watch.js'></script>
        <script src='/lib/gobo.js'></script>
        <script>var assert = chai.assert</script>
        <style>
            body.success:before {
                background: #e6efc2;
                color: #264409;
                content: "Test Passed";
            }

            .failure {
                background: #fbe3e4;
                color: #8a1f11;
            }

            body.success:before,
            .failure {
                display: block;
                padding: 0.8em;
                margin-bottom: 0.8em;
            }
        </style>
    </head>
    <body>
        {{{html}}}
        <script>
            (function (logic) {

                // Logic for reporting the result of the test
                var complete = false;
                function done ( result, message ) {
                    if ( !complete ) {
                        complete = true;
                        parent.postMessage( {
                            result: result,
                            id: document.location.search.substr(1),
                            message: message
                        }, "*" );

                        if ( result ) {
                            document.body.className += " success";
                        }
                        else {
                            var report = document.createElement("div");
                            report.className = "failure";
                            report.textContent = message;
                            document.body.insertBefore(
                                report, document.body.firstChild);
                        }
                    }
                }

                // If an error is thrown, report a failure
                window.onerror = done.bind(null, false);

                // Time the test
                setTimeout(done.bind(null, false, "Timeout"), 1000);

                // Run the test
                logic(
                    done.bind(null, true, "Passed"),
                    new Test.DocReader(document)
                );
            }(
                {{{logic}}}
            ));
        </script>
    </body>
</html>

