<!DOCTYPE html>
<html>
    <head>
        <title>Gobo Test</title>
        <script src='/lib/chai.js'></script>
        <script src='/lib/test-framework.js'></script>
        <script src='/lib/watch.js'></script>
        <script src='/lib/gobo.js'></script>
        <script>var assert = chai.assert</script>
    </head>
    <body>
        {{{html}}}
        <script>
            (function (logic) {

                // Logic for reporting the result of the test
                var complete = false;
                function done ( result ) {
                    if ( !complete ) {
                        complete = true;
                        parent.postMessage( {
                            result: result,
                            id: document.location.search.substr(1)
                        }, "*" );
                    }
                }

                // If an error is thrown, report a failure
                window.onerror = done.bind(null, false);

                // Time the test
                setTimeout(done.bind(null, false), 1000);

                // Run the test
                logic( done.bind(null, true), new Test.DocReader(document) );
            }(
                {{{logic}}}
            ));
        </script>
    </body>
</html>

